.logo {
  display: block;
  padding: 16px 0px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);
  text-decoration: none;

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0px;
    font-size: 26px;
    line-height: calc(30 / 26);
  }
}

.logo__footer {
  margin-right: 0;
  // margin-bottom: 20px;
}

.logo__black {
  color: var(--black-logo-color);
}

.logo__white {
  color: var(--white-text-color);
}
