.page {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--titel-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
